:root {
  --col: 3;
  --row: 3;
}

body {
  background: orange;
  counter-reset: divv;
}

div.grid-item:before {
  counter-increment: divv;
  content: counter(divv);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-item {
  background-color: brown;

  margin: 5px;
  box-shadow: 1px 3px 5px;
  flex: 30%;
}

.visible-box {
  background-color: aqua;
}

.invisible-box {
  background-color: lightgrey;
}

video {
  width: 100%;
}

.joystick {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;
  align-items: center;
  background-color: lightgray;
  max-width: 600px;
  text-align: center;
}

.joystick > div {
  border: 1px solid black;
}

.joysticks {
  min-width: 400px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
